.root {
    position: relative;
    left: -120px;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 15px;
    padding-left: 40px;
    width: 390px;
    border-radius: 10px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 400px;
        height: 40px;
    }
}

.icon {
    width: 35px;
    height: 35px;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
}

.clearIcon {
    width: 18px;
    height: 18px;
    opacity: 0.3;
    position: absolute;
    right: 12px;
    top: 9.5px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}