$black: #232323;
//$background: linear-gradient(120deg, #FAB162, #191919);
$background: linear-gradient(120deg, #00597c, #01ccaa);
$gray-line: #f6f6f6;
//$orange: #fe5f1e;
$orange: #00597c;

$container-width: 90%;

$duration: 0.15s;
